
*{
    box-sizing: border-box;
}

body{
    position: relative;
    margin-right:0;
}
h1{
   text-align: center; margin-right: 1%;
   border-radius: 3px; border-style: groove; border-color: maroon; 
   border-top-style: double; background-color: antiquewhite;

}

#chicken , #beef , #sushi{
    background-color: grey;
    padding:30px;
    padding-bottom: 10px;
    margin:0;
    margin-right: 10px;
    border :1px solid black;
    

}
div > h2{
    margin:0;
    border :1px solid black;
    position: absolute;
    top:0; right:0;
    width: 43%;
    text-align: center;
  
}
div{
   position: relative;
   width: 30%;
   
}

#menu {
    margin: auto 0;
    margin-left: 5%;
    margin-top: 10%;
    width: 90%;
    position: absolute;
}
#sushi {
    position:absolute;
    top:0; right:0;
    margin-right:20px;width: 30%;
} 

#beef{
    position: absolute;
    top: 0; right: 34%;
    margin-right:20px;width: 30%;
} 

#chicken{
    margin:0;
    margin-right:5px;
    width: 30%;
}

#beefHeader{
    background-color: lightcoral;
}
#sushiHeader{
    background-color:  lightgreen;
}


#chickenHeader{
    background-color: lightblue;
}

@media  (min-width :768px ) and ( max-width: 991px) {
   
    
     #menu{
      

        width:90%;
        margin:0;
        margin-left: 3%; margin-right: 3%; margin-top: 10%;
    }
    #chicken {
       position:relative;
       top:0; left:0; width:48%;
       
       
    }
    #beef{
        width: 48%; position: absolute ; top:0 ;  right:0; margin-right: 0;
    }
 
    #sushi{
        margin-top: 3%;  margin-right: 0;
        position: relative;
        width:100%;
          }
    
        }
@media ( max-width: 767px ){
   
     #menu{
      

        width:90%;
        margin:0;
        margin-left: 9%; margin-right: 5%; margin-top: 10%;
    }
    #chicken {
       position:relative;
       top:0; left:0; width:90%;
       
       
    }
    #beef{
        margin-top: 3%; width: 90%; position: relative ; top:0 ;  right:0; margin-right: 0;
    }
 
    #sushi{
        margin-top: 3%;  margin-right: 0;
        position: relative;
        width:90%;
          }
    
        }
} 